.a{
    background-color: #FFA500;
    width: 500px;
    height: 500px;
}

.b{
    background-color: #90EE90;
    height: 50%;
    width: 50%;
}

.p_b{
    color: #fff;
    background-color: #f00;
    font-size: 25px;
    font-family: monospace;
    font-weight: 900;
}

.c{
    width: 50%;
    height: 50vh;
    background-color: rgb(173, 216, 230);
}

.d{
    width: 75vh;
    height: 50%;
    background-color: rgb(255, 0, 0);
}